<span id="header">
        <h1 id="brand">
            <a href="{{ site.baseurl }}"> {{site.title}} </a>
            </h1>
            <nav id = "nav">
                <a href="{{ site.url }}"> 主页 </a>
                <a href="{{ site.url }}/archives"> 列表 </a>
                <a href="{{ site.url }}/categories"> 分类 </a>
                <a href="{{ site.url }}/books">书单 </a>
                <a href="{{ site.url }}/links"> 链接 </a>
                <a href="{{ site.url }}/about">关于我 </a>
                <a class="cta" href="{{ site.url }}/feed.xml">订阅</a>
            </nav>
</header>
